
/* page 1 with background image */

.background-image{
    height:550px ;
    width:1250px;
    display: flex;
    justify-content: center;
    background-image: url('Snakes\ &\ Ladders-img.jpg');
    background-size: cover;
    
    z-index: 0;
}
/*
#navbar{
    height:100%;
    width:15%;
    background-color: #B1C381;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

} */

.blue-box{
    height: 550px;
    width: 550px;
    background-color: #84D7EB;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.pink-box{
    height: 400px;
    width: 400px;
    position: absolute;
    top: 130px;
    border-radius: 40px;
    background-color: #DD71AE;
    justify-content: center;
    z-index: 2;

}
label{
    font-family: 'Courier New', Courier, monospace;
    color:#84D7EB;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 10px;
}

select{
    width: 60px;
    height:20px;
    margin-top: 70px;
    color:black;
    background-color:rgb(189, 200, 210);
}
pre{
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#DD71AE;
    font-size: 36px;
    margin-top: 0 ;
    padding-top: 5px;
    padding-bottom: 5px;
}

/** page 2 with board **/

 .board{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board-img{
    height: 650px;
    width: 650px;
    border: 2px solid black;
    background-image: url("board4.png") ;
    background-size: cover;
}
.piece1{
    height: 70px;
    width: 50px;
    background-image: url("blue-piece(1).png");
    background-size: cover;
}
.piece2{
    height: 70px;
    width: 50px;
    background-image: url("red-piece (1).png");
    background-size: cover;
}

.dice1{
    height: 50px;
    width: 50px;
    background-image: url("dice-six-faces-one.png");
    background-size: cover;
}

.dice2{
    height: 50px;
    width: 50px;
    background-image: url("dice-six-faces-two.png");
    background-size: cover;
}

.dice3{
    height: 50px;
    width: 50px;
    background-image: url("dice-six-faces-three.png");
    background-size: cover;
}

.dice4{
    height: 50px;
    width: 50px;
    background-image: url("dice-six-faces-four.png");
    background-size: cover;
}

.dice5{
    height: 50px;
    width: 50px;
    background-image: url("dice-six-faces-five.png");
    background-size: cover;
}

.dice6{
    height: 50px;
    width: 50px;
    background-image: url("dice-six-faces-six.png");
    background-size: cover;
}


