
/* page 1 with background image */

.background-image{
    height:550px ;
    width:1250px;
    display: flex;
    justify-content: center;
    background-image: url('Snakes\ &\ Ladders-img.jpg');
    background-size: cover;
    
    z-index: 0;
}
/*
#navbar{
    height:100%;
    width:15%;
    background-color: #B1C381;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

} */

.blue-box{
    height: 550px;
    width: 550px;
    background-color: #84D7EB;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.pink-box{
    height: 400px;
    width: 400px;
    position: absolute;
    top: 130px;
    border-radius: 40px;
    background-color: #DD71AE;
    justify-content: center;
    z-index: 2;

}
label{
    font-family: 'Courier New', Courier, monospace;
    color:#84D7EB;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 10px;
}

select{
    width: 60px;
    height:20px;
    margin-top: 70px;
    color:black;
    background-color:rgb(189, 200, 210);
}
pre{
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#DD71AE;
    font-size: 36px;
    margin-top: 0 ;
    padding-top: 5px;
    padding-bottom: 5px;
}

/** page 2 with board **/

body{
    background-color: #444D6E;
    text-align: center;
}

p{
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#DD71AE;
    font-size: 35px;
}

button{
    height: 50px;
    width: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: darkred;
    background-color: #DD71AE;
    align-items: center;
}

.space{
    width:250px;
    height: 150px;
    background-color: #84D7EB;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #DD71AE;
    font-size: 20px;
}

 .board{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.board-img{
    height: 650px;
    width: 700px;
    background-image: url("board4.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 100px;
}



.piece1{
    height: 50px;
    width: 40px;
    background-image: url("violet-piece\ \(1\).png");
    background-size: cover;
    position: relative;
    left:300px;
    bottom: 200px;
}
.piece2{
    height: 50px;
    width: 40px;
    background-image: url("red-piece (1).png");
    background-size:cover;
    position: relative;
    left:300px;
    bottom: 183px;
}

.dice1{
    height: 50px;
    width: 50px;
    background-image: url("dice1.png");
    background-size: cover;
    position: relative;
    top:60px;
    left:180px;
}

.dice2{
    height: 50px;
    width: 50px;
    background-image: url("dice2.png");
    background-size: cover;
}

.dice3{
    height: 50px;
    width: 50px;
    background-image: url("dice3.png");
    background-size: cover;
}

.dice4{
    height: 50px;
    width: 50px;
    background-image: url("dice4.png");
    background-size: cover;
}

.dice5{
    height: 50px;
    width: 50px;
    background-image: url("dice5.png");
    background-size: cover;
}

.dice6{
    height: 50px;
    width: 50px;
    background-image: url("dice6.png");
    background-size: cover;
}

