h1{
    text-align: centre;
}
.board{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board-img{
    height: 650px;
    width: 650px;
    border: 2px solid black;
    background-image: url("board3.png") ;
    background-size: cover;
}
.piece1{
    display: inline;
    height: 70px;
    width: 50px;
    background-image: url("blue-piece.png");
    background-size: cover;
}
.piece2{
    display: inline;
    height: 70px;
    width: 50px;
    background-image: url("red-piece.png");
    background-size: cover;
}
